*{
   margin: 0;
   padding: 0;
   font-family: sans-serif;
   box-sizing: border-box;
        }
        ::-webkit-scrollbar-track
        {
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
          background-color: #F5F5F5;
          border-radius: 10px;
        }
        
        ::-webkit-scrollbar
        {
          width: 10px;
          background-color: #F5F5F5;
        }
        
        ::-webkit-scrollbar-thumb
        {
          border-radius: 22px;
          background-image: -webkit-gradient(linear,
                             left bottom,
                             left top,
                             color-stop(0.44, rgb(93, 197, 211)),
                             color-stop(0.72, rgb(37, 138, 163)),
                             color-stop(0.86, rgb(17, 144, 148)));
        }
        
        .hero{
            background: #1d2026;
            min-height: 100vh;
            width: 100%;
            color: #fff;
            position: relative;
        }

        nav{
            display: flex;
            align-items: center;
            padding: 20px 8%;
        }

        nav .menu-img{
            width: 26px;
            margin-right: 20.5px;
            cursor: pointer;
        }

        nav .logo{
            width: 160px;
            cursor: pointer;
        }
        nav ul{
            flex: 1;
            text-align: right;
        }
        nav ul li{
            display: inline-block;
            list-style: none;
        }
        nav ul li + li {
            margin-left: 1rem;
        }
        nav ul li a{
            text-decoration: none;
            color: #fff;
        }
        button{
            margin-left: 1rem;
            background: #efefef;
            height: 30px;
            width: 60px;
            border-radius: 20px;
            border: 0;
            outline: 0;
            cursor: pointer;
            transition: background 0.5s;
        }
        button span{
            display: block;
            background: #999;
            height: 26px;
            width: 26px;
            border-radius: 50%;
            margin-left: 2px;
            transition: background 0.5s, margin-left 0.5s;
        }
        .lamp-container{
            position: absolute;
            top: -22px;
            left: 22%;
            width: 200px;
        }
        .lamp{
            width: 100%;
        }
        .light{
            position: absolute;
            top: 96%;
            left: 50%;
            transform: translateX(-50%);
            width: 700px;
            margin-left: -10px;
            opacity: 0;
            transition: opacity 0.5s;
        }
        .text-container{
            max-width: 600px;
            margin-top: 7%;
            margin-left: 50%;
        }
        .text-container h1{
            font-size: 80px;
            font-weight: 400;
        }
        .text-container a{
            text-decoration: none;
            background: #00986f;
            padding: 14px 40px;
            display: inline-block;
            color: #fff;
            font-size: 18px;
            margin-top: 30px;
            border-radius: 30px;
        }
        .control{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-top: 150px;
        }
        .control .line{
            width: 250px;
            height: 4px;
            background: #fff;
            margin: 0 20px;
            border-radius: 2px;
        }
        .control .line span{
            width: 50%;
            height: 8px;
            margin-top: -2px;
            border-radius: 4px;
            background: #00986f;
            display: block;
        }
        .active{
            background: green;
        }
        .active span{
            background: #fff;
            margin-left: 30px;
        }
        .on{
            opacity: 1;
        }

    body,
    html {
      overflow-x: hidden;
    }

    body {
      margin: 0;
      width: 100%;
      font-family: "Oswald", sans-serif;
      font-size: 12pt;
      font-weight: 400;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Bebas Neue", cursive;
    }

    a {
      text-decoration: none;
      transition: all 0.5s ease-in-out;
    }

    a:hover {
      transition: all 0.5s ease-in-out;
    }

    .footer-block {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-around;
      background: linear-gradient(to right, #0c4c91, #404140);
      background-size: 400% 400%;
      animation: footerblock 6s ease infinite;
      z-index: 998;
    }

    @keyframes footerblock {
      0% {
        background-position: 0 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0 50%;
      }
    }

    #footer-logo {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
      padding: 40px 0px 40px 0px;
      margin-top: 60px;
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.5) 0,
        rgba(12, 76, 145, 0.5) 50%,
        rgba(255, 255, 255, 0.5) 100%
      );
      background-size: 400% 400%;
      box-shadow: rgb(38 57 77) 0px 20px 30px -10px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      animation: footerlogo 15s ease-in-out infinite;
    }

    @keyframes footerlogo {
      0% {
        background-position: -50% 50%;
      }
      50% {
        background-position: 150% 50%;
      }
      100% {
        background-position: -50% 50%;
      }
    }

    #footer-logo img {
      padding-left: 10px;
      padding-right: 10px;
    }

    #socials-bar {
      background: #404140;
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-evenly;
      padding: 30px 0px 30px 0px;
    }

    #socials-bar a {
      color: white;
      font-size: 40pt;
    }

    @media screen and (max-width: 620px) {
      #socials-bar a {
        font-size: 30pt;
      }
    }

    #socials-bar a:hover {
      text-shadow: 0px 0px 10px #222, 0px 0px 20px #000;
      transform: translateY(10px) scale(1.2);
    }

    #footer-menu {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 200px;
      margin: 30px 10px 30px 10px;
    }

    @media screen and (max-width: 600px) {
      #footer-menu {
        height: 360px;
      }
    }

    @media screen and (max-width: 360px) {
      #footer-menu {
        height: 560px;
      }
    }

    #footer-menu a {
      color: white;
      font-size: 16pt;
      display: flex;
      flex-direction: row;
      width: 12%;
      align-items: center;
      justify-content: center;
    }

    @media screen and (max-width: 1620px) {
      #footer-menu a {
        width: 20%;
      }
    }

    @media screen and (max-width: 1100px) {
      #footer-menu a {
        width: 30%;
        padding: 10px 0px 10px 0px;
      }
    }

    @media screen and (max-width: 600px) {
      #footer-menu a {
        width: 50%;
      }
    }

    @media screen and (max-width: 360px) {
      #footer-menu a {
        width: 100%;
        padding: 12px 0px 12px 0px;
      }
    }

    #footer-menu a:hover {
      transform: translateY(10px) scale(1.2);
      color: #aaa;
    }

    #footer-contact {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      width: 40%;
      height: 430px;
      background: rgba(255, 255, 255, 0.25);
      box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px,
        rgb(0 0 0 / 22%) 0px -12px 30px, rgb(0 0 0 / 22%) 0px 4px 6px,
        rgb(0 0 0 / 27%) 0px 12px 13px, rgb(0 0 0 / 19%) 0px -3px 5px;
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.2);
    }

    @media screen and (max-width: 1300px) {
      #footer-contact {
        width: 70%;
      }
    }

    @media screen and (max-width: 930px) {
      #footer-contact {
        width: 90%;
      }
    }

    @media screen and (max-width: 674px) {
      #footer-contact {
        justify-content: space-around;
        height: 850px;
        padding: 30px 0px 30px 0px;
      }
    }

    .contact-info {
      display: flex;
      width: 100%;
      height: 300px;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
      position: relative;
      bottom: 25px;
    }

    @media screen and (max-width: 674px) {
      .contact-info {
        flex-direction: column;
        height: 70%;
        justify-content: space-around;
        bottom: 0px;
      }
    }

    #contact-top {
      margin-left: 10%;
    }

    @media screen and (min-width: 1300px) and (max-width: 1520px) {
      #contact-top {
        margin-left: 4%;
      }
    }

    @media screen and (max-width: 674px) {
      #contact-top {
        margin-left: 0 !important;
      }
    }

    #contact-bottom {
      margin-right: 20%;
    }

    @media screen and (min-width: 1300px) and (max-width: 1520px) {
      #contact-bottom {
        margin-right: 8%;
      }
    }

    @media screen and (max-width: 674px) {
      #contact-bottom {
        margin-right: 0 !important;
      }
    }

    #contact-top,
    #contact-bottom {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      height: 230px;
    }

    @media screen and (max-width: 674px) {
      #contact-top,
      #contact-bottom {
        align-items: center;
        height: auto;
      }
    }

    #contact-top h3,
    #contact-bottom h3 {
      color: white;
      font-size: 30pt;
      border-bottom: 1px solid #bbb;
    }

    #contact-top i,
    #contact-bottom i {
      color: #0c4c91;
      font-size: 18pt;
      padding-right: 12px;
      position: relative;
      top: 2px;
    }

    #contact-top p,
    #contact-bottom p {
      font-size: 12pt;
      color: white;
      position: relative;
      top: 12px;
    }

    #contact-buttons {
      position: relative;
      bottom: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 80%;
      height: auto;
      align-items: center;
    }

    @media screen and (min-width: 1300px) and (max-width: 1520px) {
      #contact-buttons {
        width: 92%;
      }
    }

    @media screen and (max-width: 674px) {
      #contact-buttons {
        width: 90%;
        flex-direction: column;
        justify-content: space-around;
        height: 30%;
        bottom: 0px;
      }
    }

    #contact-buttons a {
      background: rgba(100, 100, 100, 0.35);
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      color: white;
      font-size: 12pt;
      width: 200px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 15px 0px 15px 0px;
    }

    @media screen and (max-width: 674px) {
      #contact-buttons a {
        width: 240px;
      }
    }

    #contact-buttons a:hover {
      background: #0c4c91;
      transform: translateY(10px);
      box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    }

    #contact-buttons i {
      font-size: 16pt;
      padding-right: 10px;
    }

    #footer-partners {
      display: flex;
      flex-direction: row;
      width: 60%;
      align-items: center;
      justify-content: space-evenly;
      height: 100px;
      margin-top: 30px;
    }

    #footer-partners p {
      color: white;
      font-size: 14pt;
    }

    #x97gk87d {
      position: absolute;
      left: 0;
      top: 50%;
      opacity: 0.0001;
      font-size: 5pt;
    }

    .k8d37b6db4 {
      color: #0c4c91;
    }
    @media screen and (max-width: 674px){
      .text-container{
        margin-left: 0%;
        margin-top: 70%;
        text-align: center;
      }
      .text-container h1{
        font-size: 50px;
        margin-bottom: 10%;
      }
      .lamp-container{
        left: 25%;
      }
      
      .logo{
        width: 10%;
        margin-left: -3%;
      }
      .menu-img{
        margin-left: -9%;
      }
      .nav-options{
        text-align: center;
      }
      .control{
        margin-top: 15%;
        margin-left: 0%;
        justify-content: center;
      }
      .img-fluid{
        width: 100%;
      }
      .google-logo{
        margin-left: 5%;
        margin-right: 5%;
      }
    }